
@{
    ViewBag.Title = "Rectangles";
}
@section scripts
{
    <script src="~/Scripts/custom/rectangles.js"></script>
}
<section class="col-lg-12">
    <h1>Move Some Rectangles</h1>
    <div id="canvas"></div>
</section>


